.main{
    font-size: 24px;
    color: white;
    padding: 0 80px;
}

.shop{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    background-color: mediumblue;
}

.filter{
    padding: 10px;
    /*background-color: lightsalmon;*/
    background-image: linear-gradient(greenyellow, darkgoldenrod);
}


