.things{
    text-align: center;
}

.things_item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-auto-columns: minmax(100px, auto);*/
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
    margin: 20px 0;
}

.item{
    /*background-color: darkorange;*/
    background-image: linear-gradient(to right, dodgerblue, gold);
    text-align: center;
}

.img{
    height: 200px;
    background-color: gray;
}