.main {
    padding: 0 80px;
}

.slider{
    background-image: linear-gradient(to right, darkorange , greenyellow);
    height: 300px;
    color: white;
    text-align: center;
    font-size: 30px;
}
